.app-root {
  height: 100svh;
  width: 100vw;

  /* background-color: black; */
}

* {
  padding: 0;
  margin: 0;
}

.to-center {
display: flex;
align-items: center;
justify-content: center;

flex-direction: column;
}

.prevent-select {
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
}

.bold-me {
font-weight: bold;
}